html(lang="ru")
  head 
    title Pdf Creator Node js
    meta(charset="utf-8")
    link(rel="stylesheet", href="")
  body
    main(class="main")
        div(class="form")
            form(action="/v1/pdf" method="post")
                input(type="text" name="name" value="1")
                button(type="submit") Создать отчет
    //- script(s)